<div class="menu">
    <div class="img-position">
        <img class="logo" src="../../../assets/img/logo.PNG">
        <img class="icon" src="../../../assets/icon/menu.PNG">
        <img class="icon" src="../../../assets/icon/search.PNG">
        <img class="icon" src="../../../assets/icon/favorites.PNG">
        <img class="icon" src="../../../assets/icon/chat.PNG">
        <img class="icon" src="../../../assets/icon/statistic.PNG">
        <img class="icon" src="../../../assets/icon/others.PNG">
    </div>
</div>
